img{
<<<<<<< HEAD
    width : 250px;
    height : auto;
}

/* transform : 변형과 관련된 속성 */

=======
    width: 250px;
    height: auto;
}

/* transform : 변형과 관련된 속성 */
>>>>>>> 3d3dd4b62204ed60fa98cbc653967d769f9282fd
.trans-x-2d:hover{
    transform: translateX(100px);
}

.trans-y-2d:hover{
<<<<<<< HEAD
    transform: translateY(100px);
}

.trans-d-2d:hover{
    transform: translate(100px , 100px);
=======
    transform:translateY(-100px);
}

.trans-d-2d:hover{
    transform: translate(-100px , 100px);
>>>>>>> 3d3dd4b62204ed60fa98cbc653967d769f9282fd
}

/* scale(배율) */
.trans-x-scale:hover{
<<<<<<< HEAD
    transform:scaleX(2);
=======
    transform:scaleX(3);
>>>>>>> 3d3dd4b62204ed60fa98cbc653967d769f9282fd
}

.trans-y-scale:hover{
    transform:scaleY(2);
}

.trans-d-scale:hover{
<<<<<<< HEAD
    transform:scale(3,3);
}

.trans-rotate{
=======
    transform:scale(2,2);
}

.trans-rotate:hover{ 
>>>>>>> 3d3dd4b62204ed60fa98cbc653967d769f9282fd
    transform:rotate(180deg)
}

.trans-3d:hover{
<<<<<<< HEAD
    /* perspective(z축의 길이) : 원근법 적용 */
    transform: perspective(300px) translate3d(50px, 50px, 100px);
}

.trans-rotate-x-3d:hover{
    transform: perspective(300px) rotateX(45deg)
}

.trans-rotate-y-3d:hover{
    transform: perspective(300px) rotateY(45deg)
}

.trans-rotate-z-3d:hover{
    transform: perspective(300px) rotateZ(45deg)
}

.trans-rotate-3d:hover{
    transform: perspective(300px) rotate3d(1,0.5,0.5,45deg)
=======
    /* perspective(z축의 길이) : 원근법 적용  */
    transform : perspective(300px) translate3d(50px, 50px, 100px);
}

.trans-rotate-x-3d:hover{
    transform: perspective(300px) rotateX(45deg);
}

.trans-rotate-y-3d:hover{
    transform: perspective(300px) rotatey(45deg);
}

.trans-rotate-z-3d:hover{
    transform: perspective(300px) rotatez(45deg);
}

.trans-rotate-3d:hover{
    transform: perspective(300px) rotate3d(0.5 , 0.5, 0.5 ,45deg);
>>>>>>> 3d3dd4b62204ed60fa98cbc653967d769f9282fd
}

/* transition */
.box{
    width: 150px;
    height: 150px;
<<<<<<< HEAD
    border : 1px solid black;
=======
    border: 1px solid black;
>>>>>>> 3d3dd4b62204ed60fa98cbc653967d769f9282fd
    background-color: red;

    /* 스타일이 변경되는 시간을 지정 */
    transition-duration: 1s;
}

.test1:hover{
    background-color: yellow;
}

.test2:hover{
<<<<<<< HEAD
    background-color: skyblue;
    transform:rotate(360deg);

    border-radius :10%;
=======
    transform:rotate(360deg);
    background-color: skyblue;

    border-radius: 50%;
>>>>>>> 3d3dd4b62204ed60fa98cbc653967d769f9282fd
}

.test3{
    /* 변경에 걸리는 시간 */
    transition-duration: 3s;
<<<<<<< HEAD

    transition-timing-function: cubic-bezier(0,-0.69,2.91);
=======
    transition-timing-function: cubic-bezier(0,-0.69,0,2.91);
>>>>>>> 3d3dd4b62204ed60fa98cbc653967d769f9282fd
}

.test3:hover{
    background-color: springgreen;
}

.test4{
<<<<<<< HEAD
    transition-delay: 1s;
=======
    transition-delay : 1s;
>>>>>>> 3d3dd4b62204ed60fa98cbc653967d769f9282fd
    transition-property: background-color, transform;
}

.test4:hover{
    background-color: yellow;
<<<<<<< HEAD
    font-size : 50px;
    transform : translateX(100px);
}
=======
    font-size: 50px;
    transform: translateX(100px);
}





>>>>>>> 3d3dd4b62204ed60fa98cbc653967d769f9282fd
