<<<<<<< HEAD

/* 3순위 : 아이디 선택자 */
#test1{
    height : 100px;
    background-color: black;
    color : white;
}

/* 4순위 : 클래스 선택자 */
=======
/* 3순위 : 아이디선택자 */
#test1 {
    height: 100px;
    background-color: black;
    color: white;
}

/* 4순위 : 클래스선택자 */
>>>>>>> 3d3dd4b62204ed60fa98cbc653967d769f9282fd
.cls1{
    background-color: green;
}

/* 5순위 : 태그 선택자 */
div{
<<<<<<< HEAD
    width : 200px;
    height : 200px;
    background-color: red !important; 
}
/* 부동의 1순위 : !important */
=======
    width: 200px;
    height: 200px !important;
    background-color: red !important; /* 1순위 */
}
>>>>>>> 3d3dd4b62204ed60fa98cbc653967d769f9282fd
