.area1{
    background-color:red;
}
.area2{
    background-color:orange;
}
.area3{
    background-color: yellow;
}
.area4{background-color: green;}
.area5{background-color: blue;}

.block{
    border : 1px solid black;
    width : 150px;
    height : 150px;
    color : white;

    display:block;
}

.inline{
    display:inline;
}

.inline-block{
    display : inline-block;
}
#container-1{
    display : block;
    border : 2px solid black;
    width : 323px;
    height : 500px;
}

#container-1 > div:first-of-type{
  
    width : 100%;
    height : 30%;
    display : block;
    background-color: red; 
}
#container-1 > div:last-of-type{
  
    width : 100%;
    height : 70%;
    display : block;
    background-color: blue;
}

#container-2{
    display : block;
    border : 2px solid black;
    width : 323px;
    height : 500px;
}

#container-2 > div:first-of-type{
  
    width : 100%;
    height : 20%;
    display : block;
    background-color: green; 
}
#container-2 > div:nth-of-type(2){
  
    width : 100%;
    height : 30%;
    display : block;
    background-color: red; 
}
#container-2 > div:last-of-type{
  
    width : 100%;
    height : 50%;
    display : block;
    background-color: blue;
}