<<<<<<< HEAD
div{
    border : 1px solid black;
    box-sizing : border-box;
}

.container-1{
    border : 2px dashed red;

    position : relative;
}

.first{
    width : 300px;
    height : 300px;
    background-color: yellow;
}

.second{
    width : 200px;
    height : 200px;
    background-color: green;

    position : absolute;
    top : 50px;
    left : 50px;
}

.third{
    width : 100px;
    height : 100px;
    background-color: red;

    position:absolute;
    top : 100px;
=======
div {
    border : 1px solid black;
    box-sizing: border-box;
}
.container-1{
    border: 2px dashed red;
    position: relative;
}
.first{
    width: 300px;
    height: 300px;
    background-color: yellow;
}
.second{
    width: 200px;
    height: 200px;
    background-color: green;

    position: absolute;
    top : 50px;
    left : 50px;
}
.third{
    width: 100px;
    height : 100px; 
    background-color:red;

    position:absolute;
    top: 100px;
>>>>>>> 3d3dd4b62204ed60fa98cbc653967d769f9282fd
    left : 100px;
}

.container-2{
<<<<<<< HEAD
    width : 300px;
    height : 300px;
    position : relative;
}

#center{
    width : 50px;
    height : 50px;
    background-color: pink;

    position : absolute;
    top : 0;
    bottom : 0;
    left : 0;
    right : 0;
    margin : auto;
}

.fixed-area{
    width : 120px;
    text-align: center;
    
    position : fixed;
=======
    width: 300px;
    height: 300px;
    position: relative;
}

#center{
    width: 50px;
    height: 50px;
    background-color: pink;

    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin:auto;
}

.fixed-area{
    width: 120px;
    text-align: center;
    position: fixed;
>>>>>>> 3d3dd4b62204ed60fa98cbc653967d769f9282fd
    /* 
        fixed요소는 화면(뷰포트)기준으로 배치된다.
    */
    bottom : 50px;
<<<<<<< HEAD
    right : 50px;
}
=======
    right: 50px;
}




>>>>>>> 3d3dd4b62204ed60fa98cbc653967d769f9282fd
